.links{
    width: 100%;
    height: 50px;
}

a {
    float: right;
    padding: 10px;
}

.title{
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: rgb(212, 64, 64);

}

.titleA{
    font-size: 25px;
    color: rgb(212, 64, 64);
}
.search{
    width: 100%;
    height: 250PX;
}

.searchBar{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 80px auto;
    margin-top: 20px;
    margin-bottom: auto;
    height: 30px;
    width: 300px;
    border-radius: 20px;
    border: 1px #555252 solid;  
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 2px;
    margin: 10px;
    
}

.condition{
 display: flex;
}

.inputs{
  height: 20px;
  width: 100%;
  margin: 15px;
}

.words{
   width: 35%;
}

#advancedButton{
    background-color: rgb(47, 115, 218);
    color: azure;
    border: none;
    border-radius: 2px;
    padding: 10px;

}
